{%  extends 'admin_base.html.twig' %}

{% block content %}
    {# Begin row #}
    <div class="row mt-2">
        <div class="col-lg-8">
            <h5>Document groups</h5>
            {% if doc_groups is empty %}
                <strong>No document groups defined yet!</strong>
            {% else %}
                {# Define form #}
                <form action="{{ path('setDocumentGroupConfiguration') }}" method="get" id="doc_group_form"></form>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Users in this group (without admins)</th>
                        <th>No. of ratings</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in doc_groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            {% if user_groups[group.name] is defined %}
                                <td>{{ user_groups[group.name] }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>
                                <input title="" form="doc_group_form" style="text-align: right; width: 5em;" type="text" name="{{ group.name }}" value="{{ group.nrOfMaxEvaluations }}">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div>
                    <input form="doc_group_form" type="hidden" name="update" value="true">
                    <input form="doc_group_form" type="submit" class="btn btn-secondary" value="Update"/>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
